html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*원문, 해설 전체 내용 시작*/

/*원문, 해설 전체 div*/
.gtfr {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

/*원문, 해설 전체 ul*/
.gtfr ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
/*원문, 해설 전체 p*/
.gtfr p {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

/*원문 내용(음독), 해설 내용(뜻풀이)*/
.side-con-min {
    font-size: 75px;
    margin-bottom: 75px;
}

/*원문 내용(원문)*/
.side-con-min-flus {
    font-size: 75px;
    margin-bottom: 15px;
}

/*마커 제거*/
.side-con-min::marker,
.side-con::marker {
    display: none;
}

/*본문 대제목, 해설 대제목*/
.main-con-gap {
    margin-bottom: 50px;
}

/*원문 내용(원문) 색상*/
.color-rgb-min {
    color: black;
}

/*원문 내용(음독) 색상*/
.color-rgb-flus {
    color: red;
}

/*대제목, n번(n番)*/
.side-con {
    font-size: 75px;
    color: rgb(0, 0, 150);
}

.ab {
    text-align: center;
}

/*원문, 해설 전체 내용 종료*/

.font-size {
    font-size: 120px;
}

.padding-tab {
    padding-bottom: 10px;
}

.header-div {
    background-color: black;
    width: 100%;
    height: 150px;
    line-height: 150px;
    padding: 10px 14px 10px 50px;
    color: white;
    align-items: center;
    column-gap: 10px;
    font-size: 105px;
    position: absolute;
    top: 0;
}

.header-div:hover {
    background-color: black;
}

.header-div a {
    color: white;
    text-decoration: none;
}

.OpenBtn {
    display: inline;    
}

.sidebar-p1 {
    color: black;
    font-size: 90px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 10px;
}

.flex a {
    text-decoration: none;
    color: rgb(0, 0, 150);
}

.flex a:hover {
    padding: 6px 10px;
    background-color: orange;
    color: white;
    border-radius: 8px;
}

.flex {
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.flex1 {
    flex: 1;
    width: 300px;
}

.flex ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.flex li {
    padding-top: 6px;
    padding-bottom: 6px;
}

.flex a {
    text-decoration: none;
    font-size: 75px;
}

.sidebar-p1-1 {
    font-size: 120px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.div-11 {
    text-align: center;
    margin-bottom: 50px;
}

.div-11 a {
    text-decoration: none;
    color: rgb(0, 0, 150);
}

.div-11 a:hover {
    padding: 6px 10px;
    background-color: orange;
    color: white;
    border-radius: 12px;
}