html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(117, 148, 134);
    /*color: rgb(red, green, blue);*/
}

/*원문, 해설 전체 내용 시작*/

/*원문, 해설 전체 div*/
.gtfr {
    margin-top: 100px;
}

/*원문, 해설 전체 ul*/
.gtfr li {
    list-style: none;
}
/*원문, 해설 전체 p*/
.gtfr p {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.swiper-wrapper {
    margin-top: 50px;
}

/*원문 내용(음독), 해설 내용(뜻풀이)*/
.side-con-min {
    font-size: 50px;
    color: #503200;
}

/*원문 내용(원문)*/
.side-con-min-flus {
    color: rgb(80, 50, 0);
    font-size: 50px;
}

/*마커 제거*/
.side-con-min::marker,
.side-con::marker {
    display: none;
}

/*본문 대제목, 해설 대제목*/
.main-con-gap {
    margin-bottom: 50px;
}

/*원문 내용(원문) 색상*/
.color-rgb-min {
    color: #503200;
}

/*원문 내용(음독) 색상*/
.color-rgb-flus {
    color: #e2e2e2;
}

.ab {
    display: block;
    width: 400px;
    height: 180px;
    text-align: center;
    background-color: gold;
    color: #503200;
    border-radius: 30px;
    padding: 16px 32px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    font-size: 120px;
    border-radius: 65px;
}

.ul-div {
    display: block;
    width: 80%;
    height: 100%;
    background-color: rgb(238, 156, 62);
    border-radius: 30px;
    padding: 10px 14px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.padding-tab {
    display: inline;
    padding-bottom: 20px;
    border-radius: 16px;
    background-color: white;
    padding: 8px 12px;
    font-size: 50px;
    color: rgb(66, 54, 48);
}

/*원문, 해설 전체 내용 종료*/

.sidebar-p1 {
    color: black;
    font-size: 90px;
    margin: 0;
}

.flex li:hover {
    background-color: rgb(238, 156, 62);
    color: white;
}

.flex {
    display: flex;
    width: 100%;
    border-top: 10px solid white;
}

.flex1 {
    flex: 1;
    width: 300px;
}

.flex ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.flex ul li {
    text-align: center;
    width: 250px;
    height: 80px;
    line-height: 80px;
    padding: 8px 12px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: gold;
    border-radius: 65px;
}

.flex a {
    text-decoration: none;
    font-size: 56px;
    text-decoration: none;
    color: #503200;
}

.sidebar-p1-1 {
    font-size: 120px;
    width: 600px;
    height: 180px;
    line-height: 180px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(238, 156, 62);
    border-radius: 65px;
}

.div-11 a {
    text-decoration: none;
    color: #503200;
}

.swiper-wrapper ul {
    margin-top: 100px;
}